{% comment %}
  This section is used in the page template to render store pages like About us
  or Contact us.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/page
{% endcomment %}

{{ 'avemos-style.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

  <div class="avemos-landing-wrapper">
    <div style="background-color: var(--bg-secondary); padding: 60px 0; min-height: 50vh;">
      <div class="container" style="max-width: 800px;">
        <h1 style="font-size: 2.5rem; font-weight: 800; text-align: center; margin-bottom: 36px;">{{ page.title }}</h1>
        <div class="styled-page-content">
          {{ page.content }}
        </div>
      </div>
    </div>


  </div>

{% schema %}
{
  "name": "t:general.page",
  "settings": []
}
{% endschema %}
